/* src/App.css */

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: block;
  isolation: isolate;
}

.main-content-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-content-container {
    padding: 0 2rem;
  }
}
